/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Staatliches', cursive;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

a {
	padding: 2rem;
	background: #f1f1f1;
	border-radius: 4rem;
	font-size: 2rem;
	color: #FFC119;
	position: relative;
	/*display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;*/
	text-decoration: none;
}

a:hover::before {
	content: '';
	background-color: pink;
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4rem;
	background-color: pink;
	background-clip: text;
	animation: button 1s;
}

/*a:hover {
	animation: button 2s;
	transition: 1s;
}*/

@keyframes button {
	from {
		height: 0;
		width: 0;
		background-color: pink;
		/*-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;*/
	}

	to {
		height: 100%;
		width: 100%;
		background-color: pink;
		/*-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;*/
	}
}



